//paleta de colores

$bg-principal: #030021;
$bg-secondary: rgb(45, 63, 199);
$bg-product: rgb(5, 167, 204);
$bg-header: rgba(0, 11, 98, 1);
$bg-footer: rgba(236, 236, 203, 1);

$color-font-principal: rgba(236, 236, 203, 1);
$color-font-secondary: rgba(0, 11, 98, 1);

