body{
    background-color: rgba(3, 0, 33, 1);
    header{
        background-color: rgba(0, 11, 98, 1);
        nav{
            div{
                a{
                    #logo{
                        width: 70px;
                        height: 70px;
                    }
                }
                div{
                    ul{
                        li{
                            .menuIndex{
                                font-family: Bahnschrift;
                                color: rgba(236, 236, 203, 1);
                            }
                            .menuHover{
                                &:hover{
                                    background-color: rgb(45, 63, 199);
                                    color: rgba(236, 236, 203, 1);
                                    border-radius: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 640px){
    .mega-menu{
        width: 640px;
        transform: translate3d(0, 4px, 0) !important;
    }
}

/* ---------Main--------- */

.hero-section{
    background: url(./imagenes/bannerPrincipal.png) 50% no-repeat;
    background-size: cover;
    height: 90vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section-text h1{
    font-size: 100px;
    font-family: Bona Nova SC;
    color: rgba(236, 236, 203, 1);
}

.sectionProductos{
    display: grid;
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
}

main section h2{
    color: rgba(236, 236, 203, 1);
    font-family: EB Garamond, normal;
}

.carrouselProductos{
    font-family: Bahnschrift;
    color: rgba(236, 236, 203, 1);

    display: flex;

    gap: 5px;
}

.productIndex{
    background-color: rgb(5, 167, 204);
    border-radius: 10px;

    margin: 5px;
    padding: 5px;
}

main section div div h3{
    font-size: 15px;
    
    margin-top: 10px;
    margin: 10px;
}

main section div div p{
    margin-top: 10px;
    margin: 10px;
}

#card{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

/* ---------Main sections--------- */

.mainSections{
    display: flex;
}

.filtro{
    color: rgba(236, 236, 203, 1);

    margin: 20px;
    width: 25%;
}

main aside h3{
    font-family: Bona Nova SC;
}

main aside fieldset{
    font-family: Bahnschrift;

    border-color: rgba(236, 236, 203, 1);

    border-top: none;
    border-left: none;
    border-right: none;

    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
}

main aside input{
    font-family: Bahnschrift;
    background-color: rgba(236, 236, 203, 1);
    border: none;
    border-radius: 10px;
}

.circuloNegro{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;

    display: inline-block;
    align-items: center;
    margin-right: 10px;
}

.circuloAzul{
    width: 10px;
    height: 10px;
    background-color: rgb(39, 39, 179);
    border-radius: 50%;

    display: inline-block;
    align-items: center;
    margin-right: 10px;
}

.circuloCeleste{
    width: 10px;
    height: 10px;
    background-color: rgb(47, 146, 238);
    border-radius: 50%;

    display: inline-block;
    align-items: center;
    margin-right: 10px;
}

.circuloBlanco{
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;

    display: inline-block;
    align-items: center;
    margin-right: 10px;
}

.circuloRosa{
    width: 10px;
    height: 10px;
    background-color: rgb(243, 131, 200);
    border-radius: 50%;

    display: inline-block;
    align-items: center;
    margin-right: 10px;
}

.circuloVerde{
    width: 10px;
    height: 10px;
    background-color: rgb(79, 158, 33);
    border-radius: 50%;

    display: inline-block;
    align-items: center;
    margin-right: 10px;
}

.circuloMarron{
    width: 10px;
    height: 10px;
    background-color: rgb(71, 46, 31);
    border-radius: 50%;

    display: inline-block;
    align-items: center;
    margin-right: 10px;
}

.galeriaProductos{
    font-family: Bahnschrift;
    color: rgba(236, 236, 203, 1);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 5px;
    margin: 20px;
}

.productosMain{
    background-color: rgb(5, 167, 204);
    border-radius: 10px;

    margin: 5px;
    padding: 5px;
}

main section div div h3{
    font-size: 15px;
    
    margin-top: 10px;
    margin: 10px;
}

main section div div p{
    margin-top: 10px;
    margin: 10px;
}

#card{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

/* ---------Footer--------- */

footer{
    background: rgba(236, 236, 203, 1);
}

.footer {
    width: 100%;
}

.footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 30px;
}

.footer-row .footer-col a {
    font-family: Bahnschrift;
    color: rgba(0, 11, 98, 1);
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
}

.footer-col .links {
    margin-top: 20px;
}

.footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-col .links li a {
    text-decoration: none;
    color: rgba(0, 11, 98, 1);
}

.footer-col .links li a:hover {
    color: rgb(45, 63, 199);
}

.footer-row .footer-col h4 {
    font-family: Bahnschrift;
    color: rgba(0, 11, 98, 1);
    font-size: 1.2rem;
    font-weight: 400;
}

.footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
}

.footer-col .icons ion-icon {
    color: rgba(0, 11, 98, 1);
}

.footer-col .icons ion-icon:hover  {
    color: rgb(45, 63, 199);
}

footer p{
    font-family: Bahnschrift;
    color: rgba(0, 11, 98, 1);
    text-align: center;
}

/* ---------Media query--------- */

@media screen and (min-width: 300px){

    .navbar-brand{
        height: 50px;
        width: 50px;
    }

    #logo{
        height: 40px;
        width: 40px;
    }

    .bi-bag{
        height: 25px;
        width: 25px;
    }

    main .hero-section{
        background-size: cover;
        height: 30vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main .hero-section-text h1{
        font-size: 25px;
        text-align: center;
    }

    .mainSections{
        display: flex;
    }

    main aside fieldset{
        display: grid;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    footer .footer {
        width: 100%;
    }

    footer .footer .footer-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 3.5rem;
        padding: 30px;
    }

    footer .footer-col .icons {
        display: flex;
        margin-top: 30px;
        gap: 30px;
        cursor: pointer;
    }

}

@media screen and (min-width: 600px){

    .navbar-brand{
        height: 50px;
        width: 50px;
    }

    #logo{
        height: 50px;
        width: 50px;
    }

    .bi-bag{
        height: 25px;
        width: 25px;
    }

    main .hero-section{
        background-size: cover;
        height: 40vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main .hero-section-text h1{
        font-size: 45px;
        text-align: center;
    }
}

@media screen and (min-width: 1024px){

    .navbar-brand{
        height: 50px;
        width: 50px;
    }

    #logo{
        height: 50px;
        width: 50px;
    }

    .bi-bag{
        height: 25px;
        width: 25px;
    }

    main .hero-section{
        background-size: cover;
        height: 80vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main .hero-section-text h1{
        font-size: 70px;
        text-align: center;
    }
}

@media (max-width: 768px){
    .footer {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        border-radius: 0;
    }
    .footer .footer-row {
        padding: 20px;
        gap: 1rem;
    }
}
